# Python cache
__pycache__/
*.pyc

# Pytest cache
.pytest_cache/

# Virtual environments
venv/
.env/

# IDE configs
.vscode/
.idea/

# OS junk
.DS_Store
Thumbs.db

# Logs
friendnet.log

# Assets
assets/people
assets/portraits
